* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'Acumin Pro';
	font-style: normal;
	font-weight: normal;
	src: local('Acumin Pro'), url('Acumin-RPro.woff') format('woff');
}

@font-face {
	font-family: 'Acumin Pro Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Acumin Pro Italic'), url('Acumin-ItPro.woff') format('woff');
}

@font-face {
	font-family: 'Acumin Pro Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Acumin Pro Bold'), url('Acumin-BdPro.woff') format('woff');
}

@font-face {
	font-family: 'Monument Extended Ultrabold';
	src: url('MonumentExtended-Ultrabold.otf') format('opentype');
}

main {
	height: 100%;
	width: 100%;
	background-color: #f8f8f8;
	position: relative;
	padding-top: 0.1px;
	margin-bottom: 2rem;
	font-family: Acumin Pro, sans-serif;
}

nav {
	height: 75px;
	width: 100%;
	margin-top: 20px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	display: flex;
}

#logo {
	width: 27%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#logo h1 {
	font-size: 2.2vmax;
	font-family: 'Monument Extended Ultrabold';
	letter-spacing: -0.8px;
	line-height: 1rem;
}

#logo h1 sup {
	font-family: 'Acumin Pro';
	font-size: 1.4vmax;
	margin-left: 0.2rem;
}

#logo h6 {
	margin-top: 0.1rem;
	margin-right: -2.5vmax;
	text-wrap: nowrap;
	font-size: 0.7vmax;
}

nav h2 {
	height: 100%;
	width: calc(73% / 4);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2vmax;
}

nav h2:not(:last-child) {
	border-right: 2px solid #000;
}

nav h2:nth-child(4) {
	width: calc(73% / 4 * 1.5);
}

nav h2:last-child {
	width: calc(73% / 4 / 1.5);
}

nav .ri-menu-3-line {
	display: none;
}

#center {
	height: calc(100% - 95px);
	width: 100%;
	display: flex;
	position: relative;
	padding: 2vmax 5vmax;
}

#content {
	height: 100%;
	width: 100%;
	position: relative;
}

video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
}

#overlay {
	height: 40%;
	width: 100%;
	color: white;
	position: absolute;
	bottom: 5%;
	display: flex;
	flex-direction: column;
	z-index: 2;
	padding: 0 4vmax;
	gap: 0.5rem;
}

#overlay-top {
	height: 60%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#overlay-top h1 {
	width: 30%;
	font-size: 2.4vmax;
	letter-spacing: 2px;
	font-family: 'Monument Extended Ultrabold';
}

#overlay-circle {
	position: relative;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid gray;
	overflow: hidden;
}

#overlay-circle h4 {
	font-size: 1vmax;
}

#overlay-bottom {
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#overlay-bottom h4 {
	font-size: 1vmax;
	font-family: 'Acumin Pro';
}

#overlay-bottom img {
	height: 1.5vmax;
	width: 2.4vmax;
}

#scroll {
	height: 30vh;
	width: 100%;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
}

#scroll::-webkit-scrollbar {
	display: none;
}

#scroll-container {
	height: 100%;
	width: 100%;
	display: inline-block;
	animation: scroll 10s infinite linear;
}

#models {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	gap: 1rem;
}

#model-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

#model-profile img {
	height: 6.5rem;
	width: 7rem;
	border-radius: 50%;
	object-fit: cover;
}

#model-profile h6 {
	font-size: 0.8vmax;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

#alphabets {
	height: 7vmax;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 5vmax;
	font-family: 'Acumin Pro Italic';
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

#alphabets h4 {
	font-size: 1.5vmax;
	text-decoration: underline;
	margin-right: 1vmax;
	letter-spacing: 3px;
}

#alphabets h5 {
	font-size: 1.5vmax;
	color: #5c5c5c;
	cursor: pointer;
	transition: all ease 0.3s;
}

#alphabets h5:hover {
	border: 2px solid;
	border-radius: 50%;
	padding: 0.4rem 0.8rem;
}

#alphabets h5:nth-child(9),
#alphabets h5:nth-child(11),
#alphabets h5:nth-child(15),
#alphabets h5:nth-child(18),
#alphabets h5:nth-child(22) {
	color: #a9a2a2;
}

#page1 {
	margin-top: 4vmax;
	height: 100%;
	width: 100%;
	padding: 0 5vmax;
	display: flex;
}

#page1-left {
	width: 60%;
	padding-right: 2vmax;
}

#page1-left img {
	width: 100%;
	height: 90%;
	object-fit: cover;
	object-position: top;
}

#page1-left h1 {
	font-size: 2vmax;
	padding-top: 1vmax;
	font-family: 'Monument Extended Ultrabold';
}

#page1-right {
	height: 90%;
	padding-left: 2vmax;
	width: 40%;
	display: flex;
	flex-direction: column;
}

#page1-right img {
	width: 100%;
	height: 80%;
	object-fit: cover;
	object-position: top;
}

#page1-right-bottom {
	display: flex;
	align-items: start;
	gap: 2vmax;
	padding-top: 2vmax;
}

#page2 {
	margin-top: 4vmax;
	height: 80%;
	width: 100%;
	padding: 2vmax 5vmax;
	display: flex;
}

#page2-left {
	background-color: #fff;
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 2vmax 0 4vmax;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

#page2-left img {
	width: 60%;
	display: flex;
	align-items: center;
}

#page2-left h4 {
	font-size: 1.5vmax;
	align-self: flex-end;
}

#page2-right {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#page2-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#page3 {
	width: 100%;
	height: 100%;
	padding: 2vmax 5vmax;
}

#page3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

#page4 {
	height: 100%;
	width: 100%;
	padding: 2vmax 5vmax;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#page4 h1 {
	font-family: 'Monument Extended Ultrabold';
	font-size: 3vmax;
	height: 15%;
}

#updates {
	height: 85%;
	width: 100%;
}

.update {
	height: 20vh;
	width: 100%;
	display: grid;
	grid-template-columns: 20% 30% 50%;
	align-items: center;
	border-bottom: 2px solid black;
	padding: 1vmax;
	cursor: pointer;
}

.update h4 {
	font-size: 1vmax;
	width: 6%;
}

.update img {
	height: 7vmax;
	width: 7vmax;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
}

.update:hover {
	background-color: rgb(227, 221, 221);
}

.update-left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.update-left h2 {
	font-size: 2vmax;
}

.update-left h6 {
	font-size: 1vmax;
}

.update:nth-child(1) {
	border-top: 2px solid black;
}

#page5 {
	height: 100%;
	width: 100%;
	padding: 5vmax;
	display: flex;
	justify-content: space-between;
}

#page5-left {
	height: 100%;
	width: 45%;
}

#page5-left img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

#page5-right {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#page5-right h2 {
	font-family: 'Monument Extended Ultrabold';
	font-size: 2.5vmax;
}

#page5-right h4 {
	width: 50%;
	font-size: 1.4vmax;
}

#page5-right p {
	font-size: 1.1vmax;
}

#page5-right-bottom {
	height: 50%;
	width: 100%;
	display: flex;
	gap: 1rem;
}

#page5-right-bottom img {
	height: 100%;
	width: 50%;
	object-fit: cover;
	object-position: top;
}

#scroll2 {
	margin-top: 2vmax;
	width: auto;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
}

#scroll2 #scroll-container {
	width: 82%;
}

.scroll-text {
	font-size: 5vmax;
	font-family: 'Monument Extended Ultrabold';
	color: transparent;
	-webkit-text-stroke: 2px rgb(101, 94, 94);
	letter-spacing: 0.4rem;
	padding: 0.5rem 0;
}

#page6 {
	height: 80%;
	width: 100%;
	padding: 5vmax;
	display: flex;
	justify-content: space-between;
}

#page6 h1 {
	width: 10%;
	font-family: 'Monument Extended Ultrabold';
	font-size: 3vmax;
}

.page6-card {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.page6-card h4 {
	font-size: 1.2vmax;
	line-height: 1.8vmax;
}

.page6-card span {
	border: 1px solid;
	padding: 0.2vmax 0.5vmax;
	border-radius: 50%;
}

.page6-card img {
	height: 70%;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

footer {
	height: 15vmax;
	width: 100%;
	margin: 20px 0;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	display: flex;
}

footer h2 {
	height: 100%;
	width: calc(30% / 2);
	display: flex;
	align-items: start;
	justify-content: center;
	font-size: 1.2vmax;
	padding-top: 2vmax;
}

footer h2:not(:last-child) {
	border-right: 2px solid #000;
}

.footer-logo {
	padding-top: 2vmax;
	align-self: start;
}

#footer-right {
	height: 100%;
	width: 43%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#footer-right h3 {
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.5vmax;
	padding-left: 5vmax;
}

#footer-right-bottom {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-top: 2px solid #000;
	padding-left: 5vmax;
	gap: 0.5vmax;
}

#social i {
	font-size: 2vmax;
}

#footer-right-bottom h6 {
	font-size: 1.2vmax;
}

@media (max-width: 768px) {
	main {
		overflow-x: hidden;
	}

	nav {
		height: 65px;
		margin-top: 10px;
		align-items: center;
		justify-content: space-between;
		padding: 0 5vmax;
	}

	nav h2 {
		display: none;
	}

	nav .ri-menu-3-line {
		display: block;
		cursor: pointer;
	}

	#center {
		height: calc(100% - (75px + 15vh));
	}

	#overlay {
		bottom: 1%;
		padding: 0 2vmax;
	}

	#overlay-top h1 {
		font-size: 2vmax;
	}

	#overlay-circle {
		height: 40px;
		width: 40px;
	}

	#overlay-circle h4 {
		font-size: 1.2vmax;
	}

	#overlay-bottom h4 {
		font-size: 1.2vmax;
	}

	#scroll {
		height: 15vh;
	}

	#scroll-container {
		width: 135%;
	}

	#scroll #scroll-container:nth-last-child(1) {
		margin-left: 3vw;
	}

	#model-profile img {
		height: 6vmax;
		width: 6vmax;
	}

	#alphabets {
		height: 10%;
	}

	#alphabets h4 {
		font-size: 1.2vmax;
	}

	#alphabets h5 {
		font-size: 1vmax;
	}

	#alphabets h5:hover {
		padding: 0.2rem 0.4rem;
	}

	#page1 {
		margin-top: 0vmax;
		padding-top: 3vmax;
		height: 45%;
	}

	#page1-left {
		width: 40%;
		padding-right: 1vmax;
	}

	#page1-left img {
		height: 80%;
	}

	#page1-left h1 {
		font-size: 2vmax;
	}

	#page1-right {
		height: 100%;
		padding-left: 1vmax;
		width: 60%;
	}

	#page1-right img {
		height: 50%;
		object-position: 20% 30%;
	}

	#page1-right-bottom {
		gap: 1vmax;
		padding-top: 1vmax;
	}

	#page1-right-bottom h4 {
		font-size: 2.5vw;
	}

	#page1-right-bottom h5 {
		font-size: 2.2vw;
	}

	#page2 {
		margin-top: 0vmax;
		height: 45%;
		padding: 3vmax 5vmax;
	}

	#page2-left {
		width: 30%;
		padding: 0 2vmax 0 3vmax;
	}

	#page2-left img {
		width: 100%;
	}

	#page2-left h4 {
		font-size: 1.2vmax;
	}

	#page2-right {
		width: 70%;
	}

	#page3 {
		height: 50%;
	}

	#page4 {
		height: 50%;
		position: relative;
	}

	#page4 h1 {
		font-family: 'Monument Extended Ultrabold';
		font-size: 3vmax;
		height: 10%;
		margin-bottom: 2vmax;
	}

	.update {
		height: 10vh;
	}

	#page5 {
		height: 50%;
	}

	#page5-left {
		height: 100%;
		width: 45%;
	}

	#page5-right h2 {
		font-size: 2vmax;
	}

	#page5-right h4 {
		width: 70%;
		font-size: 1vmax;
	}

	#page5-right p {
		font-size: 0.8vmax;
	}

	#page5-right-bottom {
		gap: 0.8vmax;
	}

	#scroll2 {
		margin-top: 1vmax;
	}

	#scroll2 #scroll-container {
		width: 125%;
	}

	.scroll-text {
		font-size: 3vmax;
	}

	#page6 {
		height: 40%;
		justify-content: space-between;
		position: relative;
	}

	#page6 h1 {
		position: absolute;
		top: 5%;
		right: 50%;
	}

	.page6-card {
		width: 48%;
		height: 90%;
		align-self: center;
		flex-direction: column;
		justify-content: space-around;
	}

	.page6-card h4 {
		font-size: 1vmax;
		line-height: 1.7vmax;
		margin-bottom: 2vmax;
	}

	.page6-card span {
		padding: 0.3vmax 0.4vmax;
	}

	footer {
		height: 10vmax;
		margin: 10px 0;
		padding: 1vmax 5vmax;
		position: relative;
	}

	footer h2 {
		display: none;
	}

	.footer-logo {
		position: absolute;
		top: 10%;
		left: 10%;
	}

	#footer-right {
		width: 60%;
	}

	#footer-right h3 {
		display: none;
	}

	#footer-right-bottom {
		height: 100%;
		width: 50%;
		align-items: end;
		border-top: none;
		position: absolute;
		top: 5%;
		right: 10%;
	}
}
